<section id="signup-section" class="authentication-section">
  <h2 class="authentication-name">Sign Up</h2>
  <form action="submit" id="signup-form" class="authentication-form">
    <label for="name" class="form-label-name">Name</label>
    <input type="text">
    <label for="email" class="form-label-name">Email</label>
    <input type="text">
    <label for="passwword" class="form-label-name">Password</label>
    <input type="text">
    <input type="button" value="Sign Up" class="form-label-name form-button">
  </form>
  <h3><a href="/views/login.handlebars">Already a member ? Sign In</a></h3>
</section>
