<section id="signin-section" class="authentication-section">
  <h2 class="authentication-name">Sign In</h2>
  <form action="submit" id="signin-form" class="authentication-form">
    <label for="email" class="form-label-name">Email</label>
    <input type="text">
    <label for="passwword" class="form-label-name">Password</label>
    <input type="text">
    <input type="button" value="Sign In" class="form-label-name form-button">
  </form>
</section>